@model List<IGrouping<Proiect_CE.Models.Genre, Proiect_CE.Models.Book>>
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .fixed-size-img {
        width: 500px; 
        height: 300px; 
    }

    .card {
        max-height: 120%;
        height: 100%;
    }
 </style>

<body class="body-style bg-color">
    <div id="carouselControls" class="carousel slide text-center" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block mx-auto fixed-size-img" src="~/images/im1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block mx-auto fixed-size-img" src="~/images/im2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block mx-auto fixed-size-img" src="~/images/im3.jpeg" alt="Third slide">
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>

<form asp-controller="Home" asp-action="Index" method="get">
    <input type="text" placeholder="Cauta..." name="searchString" style="width:300px; margin-top: 50px; margin-bottom: 50px">
    <button type="submit">
        <i class="fa fa-search" style="font-size: 18px;"></i>
    </button>
</form>


@foreach (var genreGroup in Model)
{
    <h2>== @genreGroup.Key.Name ==</h2> 

    <div class="row">
        @foreach (var book in genreGroup)
        {
            <div class="col-md-3 mb-4">
                <div class="card">
                    <img src="data:image;base64,@Convert.ToBase64String(@book.Image)" class="card-img-top" alt="Book Image">
                    <div class="card-body">
                        <h5 class="card-title">Title: @book.Title</h5> 
                        <p class="card-text">Author: @book.Authors.Name</p> 
                        <p class="card-text">PublishingHouse: @book.PublishingHouse.Name</p>
                        <p class="card-text">Price: @book.Price</p>
                        <form asp-controller="Carts" asp-action="AddToCart" method="post">
                            <input type="hidden" name="bookId" value="@book.ISBN" />
                            <input type="hidden" name="quantity" value="1" />
                            <button type="submit" class="btn btn-primary mb-2"><i class="fas fa-shopping-cart"></i>Adauga in Cos</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
}